{{define "title"}}Add CV{{end}}
{{define "body"}}
  <script src="../assets/js/cvaction.js"></script>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12">
        <h3>Add your CV</h3>
        <div class="card">
          <div class="card-body">
            <form id="add-cv-form" action="/addcvprocess" method="post">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="name">Applicant Name</label>
                  <input type="text" class="form-control" id="name" name="name"
                         value="{{.UserDetails.FirstName}} {{.UserDetails.Surname}}"
                         readonly>
                </div>
                <div class="form-group col-md-6">
                  <label for="date">CV Revision Date</label>
                  <input type="date" class="form-control" id="date" name="date" required="" autofocus="">
                </div>
                <div class="form-group col-md-6">
                  <label for="industry">Industry / Sector</label>
                  <input type="text" class="form-control" id="industry" name="industry"
                         required="" autofocus="">
                </div>
                <div class="form-group col-md-6">
                  <label for="level">Level</label>
                  <select class="form-control" id="level" name="level" required="" autofocus="">
                    <option>Administrator</option>
                    <option>Junior</option>
                    <option>Intermediate</option>
                    <option>Senior</option>
                    <option>Manager</option>
                    <option>Director</option>
                  </select>
                </div>
              </div>
              <div class="mainSection">
                <div class="card mb-2">
                  <div class="card-body">
                    <div class="form-group">
                      <label for="mainCVSectionValue">Personal Statement</label>
                      <textarea class="form-control" id="mainCVSectionValue" name="mainCVSectionValue" rows="5"
                                required="" autofocus=""></textarea>
                    </div>
                  </div>
                </div>
              </div>
              <div id="additionalSections"></div>
              <button type="button" class="btn btn-success" id="addSection"><span class="fa fa-plus"
                                                                                  aria-hidden="true"></span> Add Section
              </button>
              <hr>
              <button class="btn btn-lg btn-primary" type="submit">Submit your CV</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{{end}}