{{define "title"}}Add CV{{end}}
{{define "body"}}
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12">
        <h3>Add your CV</h3>
        <div class="card">
          <div class="card-body">
            <form id="upload-cv-form" action="/addcvprocess" method="post">
              <div class="form-group">
                <label for="applicantName">Applicant Name</label>
                <input type="text" class="form-control" id="name" name="name" value="{{.UserDetails.FullName}}"
                       readonly>
              </div>
              <div class="form-group">
                <label for="applicantSpeciality">Field of Work</label>
                <input type="text" class="form-control" id="speciality" name="speciality" placeholder="Computer Science"
                       autofocus="">
              </div>
              <div class="form-group">
                <label for="cv">CV</label>
                <textarea class="form-control" id="cv" name="cv" rows="5" autofocus=""></textarea>
              </div>
              <div class="form-group">
                <label for="cvDate">CV Revision Date</label>
                <input type="date" class="form-control" id="cvDate" name="cvDate" autofocus="">
              </div>
              <button class="btn btn-lg btn-primary" type="submit">Add your CV</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{{end}}