{{define "title"}}Home{{end}}
{{define "body"}}
    <div class="jumbotron">
        <div class="container">
            <h1>Hyperledger CV Verification System</h1>
            <p> Welcome, {{.UserDetails.Username}}</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Get Started &raquo;</a></p>
        </div>
    </div>
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <p> Welcome, {{.UserDetails.Username}}</p>
                </div>
            </div>
        </div>
{{end}}