{{define "title"}}Update CV{{end}}
{{define "body"}}
  <script src="../assets/js/cvaction.js"></script>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12">
        <h3>Update your CV</h3>
        <div class="card">
          <div class="card-body">
            <form id="update-cv-form" action="/updatecvprocess" method="post">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="name">Applicant Name</label>
                  <input type="text" class="form-control" id="name" name="name"
                         value="{{.UserDetails.FirstName}} {{.UserDetails.Surname}}"
                         readonly>
                </div>
                <div class="form-group col-md-6">
                  <label for="date">CV Revision Date</label>
                  <input type="date" class="form-control" id="date" name="date" required="" autofocus=""
                         {{if .CVInfo.CV.Date}}value="{{.CVInfo.CV.Date}}"{{end}}>
                </div>
                <div class="form-group col-md-6">
                  <label for="industry">Industry / Sector</label>
                  <input type="text" class="form-control" id="industry" name="industry"
                         placeholder="Computer Science"
                         required="" autofocus="" value="{{.CVInfo.CV.Industry}}">
                </div>
                <div class="form-group col-md-6">
                  <label for="applicantLevel">Level</label>
                  <select class="form-control" id="applicantLevel" name="level" required="" autofocus="">
                    <option {{if eq .CVInfo.CV.Level "Administrator"}}selected{{end}}>Administrator</option>
                    <option {{if eq .CVInfo.CV.Level "Junior"}}selected{{end}}>Junior</option>
                    <option {{if eq .CVInfo.CV.Level "Intermediate"}}selected{{end}}>Intermediate</option>
                    <option {{if eq .CVInfo.CV.Level "Senior"}}selected{{end}}>Senior</option>
                    <option {{if eq .CVInfo.CV.Level "Manager"}}selected{{end}}>Manager</option>
                    <option {{if eq .CVInfo.CV.Level "Director"}}selected{{end}}>Director</option>
                  </select>
                </div>
              </div>
              <div class="mainSection">
                <div class="card mb-2">
                  <div class="card-body">
                    <div class="form-group">
                      <label for="mainCVSectionValue">Main CV</label>
                      <textarea class="form-control" id="mainCVSectionValue" name="mainCVSectionValue" rows="5"
                                required="" autofocus="">{{if .CVInfo.CV.CV}}{{.CVInfo.CV.CV}}{{end}}</textarea>
                    </div>
                  </div>
                </div>
              </div>
              <div id="additionalSections">
                {{range $subject, $value := .CVInfo.CV.CVSections}}
                  <div class="card mb-2">
                    <div class="card-body">
                      <div class="form-group">
                        <label for="additionalCVSectionSubject">Subject</label>
                        <select class="form-control" id="additionalCVSectionSubject" name="additionalCVSectionSubject"
                                required="">
                          <option {{if eq $subject "Education"}}selected{{end}}>Education</option>
                          <option {{if eq $subject "Experience"}}selected{{end}}>Experience</option>
                          <option {{if eq $subject "Skills"}}selected{{end}}>Skills</option>
                          <option {{if eq $subject "Certifications"}}selected{{end}}>Certifications</option>
                          <option {{if eq $subject "Traits"}}selected{{end}}>Traits</option>
                          <option {{if eq $subject "Interests"}}selected{{end}}>Interests</option>
                          <option {{if eq $subject "Other"}}selected{{end}}>Other</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="additionalCVSectionValue">Details</label>
                        <textarea class="form-control" id="additionalCVSectionValue" rows="3"
                                  name="additionalCVSectionValue">{{$value}}</textarea>
                      </div>
                      <button class="btn btn-danger" type="button" id="removeSection"><span class="fa fa-trash"
                                                                                            aria-hidden="true"></span>
                        Remove
                      </button>
                    </div>
                  </div>
                {{end}}
              </div>
              <button type="button" class="btn btn-success" id="addSection"><span class="fa fa-plus"
                                                                                  aria-hidden="true"></span> Add Section
              </button>
              <hr>
              <button class="btn btn-lg btn-primary" type="submit">Update your CV</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{{end}}