{{define "title"}}View CV Applications{{end}}
{{define "body"}}
  <div class="container">
    <h3>View All CVs</h3>
    <div class="row">
      <div class="col-md-4">
        <form id="filter-cv" action="/viewcvapplications" method="post">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="registeredcvs" name="registeredcvs">
            <label class="form-check-label" for="registeredcvs">Registered CVs only</label>
          </div>
          <label for="industry">Query CV By Industry:</label>
          <div class="input-group">
            <input type="text" class="form-control" id="industry" name="industry"
                   autofocus="">
            <span class="input-group-btn">
            <button class="btn btn-success" formaction="/viewcvapplications" type="submit">Search</button>
          </span>
          </div>
        </form>
        </div>
      </div>
      <div class="card-columns">
        {{range $cvID, $cv:=  .CVInfo.CVList}}
          <div class="card">
            <div class="card-body">
              <form id="review-cv" action="/viewcv/{{$cvID}}" method="post">
                <h4>Applicant Name</h4>
                <p> {{$cv.Name}}</p>
                <h4>Industry / Sector</h4>
                <p>{{$cv.Industry}}</p>
                <h4>Level</h4>
                <p>{{$cv.Level}}</p>
                <h4>Date of CV</h4>
                <p>{{$cv.Date}}</p>
                <button class="btn btn-lg btn-primary" type="submit">View full CV</button>
              </form>
            </div>
          </div>
        {{end}}
      </div>
    </div>
{{end}}