{{define "title"}}View CV{{end}}
{{define "body"}}
  <div class="container">
    {{if .CVInfo.CV}}
      {{if ne .CVInfo.ApplicantDetails.FirstName ""}}
        <h3>Applicant Contact Details</h3>
        <div class="card mb-3">
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <h4>Applicant Name:</h4>
                {{.CVInfo.ApplicantDetails.Title}} {{.CVInfo.ApplicantDetails.FirstName}} {{.CVInfo.ApplicantDetails.Surname}}
              </div>
              <div class="col-md-6">
                <h4>Email Address:</h4>
                {{.CVInfo.ApplicantDetails.EmailAddress}} <a href="mailto:{{.CVInfo.ApplicantDetails.EmailAddress}}">Contact
                  Applicant</a>
              </div>
            </div>
          </div>
        </div>
      {{end}}
      <h2>View CV</h2>
      <div class="card">
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-md-6">
                <h4>Applicant Name</h4>
                <p>{{.CVInfo.CV.Name}}</p>
              </div>
              <div class="col-md-6">
                <h4>Date of CV</h4>
                <p>{{.CVInfo.CV.Date}}</p>
              </div>
              <div class="col-md-6">
                <h4>Industry / Sector</h4>
                <p>{{.CVInfo.CV.Industry}}</p>
              </div>
              <div class="col-md-6">
                <h4>Level</h4>
                <p>{{.CVInfo.CV.Level}}</p>
              </div>
            </div>
            <h4>CV</h4>
            <p>{{.CVInfo.CV.CV}}</p>
            <div class="row">
              {{range $subject, $value := .CVInfo.CV.CVSections}}
                <div class="col-md-6">
                  <div class="card mb-2">
                    <div class="card-body">
                      <h4>{{$subject}}</h4>
                      <p>{{$value}}</p>
                    </div>
                  </div>
                </div>
              {{end}}
            </div>
          </form>
          <hr>
          <h3>Reviews</h3>
          <div class="row">
            {{range $index, $CVReview := .CVInfo.ReviewInfo.Reviews}}
              <div class="col-md-4">
                <div class="card">
                  <div class="card-body">
                    <h4>Reviewer:</h4>
                    {{$CVReview.Name}}
                    <h4>Verification Type:</h4>
                    {{$CVReview.Type}}
                    <h4>Comment:</h4>
                    {{$CVReview.Comment}}
                    <h4>Rating:</h4>
                    {{$CVReview.Rating}}
                  </div>
                </div>
              </div>
            {{end}}
          </div>
          {{if eq .CVInfo.ApplicantDetails.FirstName ""}}
            <hr>
            <form id="registerinterest" action="/employerregisterinterest" method="post">
              <button class="btn btn-lg btn-success" type="submit">Register Interest
              </button>
            </form>
          {{end}}
        </div>
      </div>
    {{end}}
  </div>
{{end}}