{{define "title"}}Home{{end}}

{{define "body"}}
    <link rel="stylesheet" href="../assets/css/addcv.css">
    <div class="container-fluid content-padding">
        <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
            {{if .CV.CV}}
                <form id="upload-cv-form "class="form-upload-cv" action="/updateCVProcess.html" method="post">
                    <h2>Update your CV</h2>
                    <div class="form-group">
                        <label for="applicantName">Applicant Name</label>
                        <input type="text" class="form-control" id="applicantName" name="name" value="{{.CurrentUser.FullName}}" disabled>
                    </div>
                    <div class="form-group">
                        <label for="applicantSpeciality">Field of Work</label>
                        <input type="text" class="form-control" id="applicantSpeciality" name="speciality" value="{{.CV.Speciality}}" placeholder="Computer Science">
                    </div>
                    <div class="form-group">
                        <label for="applicantCV">CV</label>
                        <textarea class="form-control" id="applicantCV" name="CV" rows="5">{{.CV.CV}}</textarea>
                    </div>
                    <div class="form-group">
                        <label for="applicantCVDate">CV Revision Date</label>
                        <input type="date" class="form-control" id="applicantCVDate" value="{{.CV.CVDate}}" name="CVDate">
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Update your CV</button>
                </form>
            {{else}}
                <form id="upload-cv-form "class="form-upload-cv" action="/addCVProcess.html" method="post">
                    <h2>Add your CV</h2>
                    <div class="form-group">
                        <label for="applicantName">Applicant Name</label>
                        <input type="text" class="form-control" id="applicantName" name="name" value="{{.CurrentUser.FullName}}" disabled>
                    </div>
                    <div class="form-group">
                        <label for="applicantSpeciality">Field of Work</label>
                        <input type="text" class="form-control" id="applicantSpeciality" name="speciality" placeholder="Computer Science">
                    </div>
                    <div class="form-group">
                        <label for="applicantCV">CV</label>
                        <textarea class="form-control" id="applicantCV" name="CV" rows="5"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="applicantCVDate">CV Revision Date</label>
                        <input type="date" class="form-control" id="applicantCVDate" name="CVDate">
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Add your CV</button>
                </form>
            {{end}}
        </div>
    </div>
{{end}}