{{ define "layout"}}
    <!DOCTYPE html>
    <html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../assets/css/main.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">CV Verification System</a>
                </div>
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="nav navbar-nav">
                        <li class="nav-item {{if eq .CurrentPage "index"}}active{{end}}">
                            <a href="/index.html">Home</a>
                        </li>

                            <li class="nav-item {{if eq .CurrentPage "addcv"}}active{{end}}">
                                <a href="addCV.html">Add your CV</a>
                            </li>
                            <li class="nav-item {{if eq .CurrentPage "result"}}active{{end}}">
                                <a href="/mycv.html">My CV</a>
                            </li>

                            <li class="nav-item">
                                <a href="/viewall.html">View all CV's</a>
                            </li>

                    </ul>
                    {{if not .LoggedInFlag}}
                        <ul class="nav navbar-nav navbar-right">
                            <li class="nav-item">
                                <a href="register.html">Register</a>
                            </li>
                            <li class="nav-item {{if eq .CurrentPage "login"}}active{{end}}">
                                <a href="/login.html">Login</a>
                            </li>
                        </ul>
                    {{end}}
                    {{if .LoggedInFlag}}
                        <ul class="nav navbar-nav navbar-right">
                            <li class="nav-item">
                                <a href="/logout.html">Log Out</a>
                            </li>
                        </ul>
                    {{end}}
                </div><!--/.navbar-collapse -->
            </div>
        </nav>
        {{template "alerts" .}}
        {{template "body" .}}
    </body>
    <footer class="container text-center">
        Developed by Hayden Griffin.
    </footer>
{{end}}